<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--console charset ISO-8859-1-->
            <charset>UTF-8</charset>
            <Pattern>%d %green([%thread]) %highlight(%level) %logger{50} - %msg%n</Pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>